@page "/service"

<center><h3><span class="oi oi-timer" aria-hidden="true"></span>Prediction Service</h3></center>
<center><hr style="width:60%" /></center>
<p>
Our service analyzes market and social trends to forecast when a product should be released.<br />
The predictions are based on social, economic, and technical factors. <br />
This web app's purpose is to determine if there is a need and a market for such a service.<br />
<br />

<h5>Example</h5>
<br />
For instance, let's say you want to launch an app whose purpose is to create beautiful art.<br />
When would be the best time to launch such an app?<br />

Investing in art and science is best when society is in a good mood.<br />
Society will strive to make things more beautiful when it is doing well.<br />
Research papers will be published more frequently. <br />
Upbeat happy music will top charts.<br /> Disney will make movies.<br />
<br />
It is not a good time to launch such an app when society is in a bad mood.<br />
Businesses are contracting, people are engaging in conflict, proposals are being delayed,<br />
conceptions are being delayed, somber music is being bought, exercise is being reduced,<br />
boring clothes are being worn, neighbors are attacking, trade is being restricted,<br />
and leaders are losing supporters, which indicates a declining mood.  <br />
<br />
@*For more information visit <a href="https://socionomics.net/learn-about-socionomics/" target="_blank">Socionomics Institute</a>*@
</p>
<p>What are the indicators of social mood in the maret data? </p>
<br />
<img src="~/assets/images/"  />

@code {

}
