@*@page "/socialmood"

<h2>Social Mood Indicators</h2>
<br />
<a href="https://socionomics.net/what-is-socionomics/" target="_blank">What is Socionomics?</a>
<p>Imagine a modern, ground-breaking theory, which could link all human social behavior — cultural, economic, political, and more — into a single, elegant and unifying framework.</p>
<center><h3>Bitcoin</h3></center>
<hr />
<p>Due to its positive correlation with Dow Jones, Bitcoin is considered one of the primary social mood indicators.</p>
<div style="width:30%">
<img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" /></div>

https://g.co/finance/.DJI:INDEXDJX*@