@inject ApplicationDbContext db

@page "/socialmood"

<PageTitle>World Mood</PageTitle>

<center><h1><span class="oi oi-aperture" aria-hidden="true"></span> Sociometer</h1></center>
<hr />
@if (avg != 0)
{
    <center></center>
    <center><h4><span class="oi oi-globe" aria-hidden="true"></span> Currently, around <span style="color:blue"> @avg% </span>of the world is in a good mood </h4></center>
    <center><hr style="width:80%" /></center>
}
<br />
<center><p><h2>Poles Of Social Mood</h2></p>
<p><h5>Positive mood / Negative mood</h5></p>    
<p>adventorousness / protectionism</p>
<p>benevolence / malevolence</p>
<p>clarity / fuzziness</p>
<p>concord / discord</p>
<p>confidence / fear</p>
<p>constructiveness / destructiveness</p>
<p>convergence / polarization</p>
<p>daring / defensiveness</p>
<p>desiring power over nature / desiring power over people</p>
<p>ebullience / depresion</p>
<p>embrace of effort / avoidance of effort</p>
<p>forbearance / anger</p>
<p>friskiness / somberness</p>
<p>happiness / unhappiness</p>
<p>homogeneity / heterogeneity</p>
<p>hope / despair</p>
<p>inclusion / exclusion</p>
<p>interest in love / interest in sex</p>
<p>liberality / restriction</p>
<p>optimism / pessimism</p>
<p>practical thinking / magical thinking</p>
<p>search for joy / search for pleasure</p>
<p>self providence / self deprivation</p>
<p>sharpness of focus / dullness of focus</p>
<p>supportiveness / opposition</p>
<p>tendency to praise / tendency to critisize</p>
<p>togetherness / separatism</p>
<p><i>By Elliott Prechter</i></p>
</center>

@*<div class="metadata" style='margin: 0px 0px 20px; padding: 0px 20px; background: url("images/back_postmeta.png") left top repeat-x rgb(255, 255, 255); border-radius: 7px; color: rgb(102, 102, 102);  font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>
    <div class="metainfo" style="margin: 0px; padding: 15px 0px 0px; overflow: hidden;">
        <h1 style="margin: 0px 0px 6px; padding: 0px; font-size: 24px; font-weight: normal; color: rgb(34, 34, 34); line-height: 28px; font-family: Georgia, serif;"><span class="oi oi-list" style="color: rgb(203, 14, 61);" aria-hidden="true"></span> <a @onclick="Show" rel="bookmark" style="cursor: pointer;margin: 0px; padding: 0px; text-decoration: none; outline: none; color: rgb(203, 14, 61);" title="Permanent Link to What is Socionomics: Learn the Basics of the Theory and Its Application">What is Socionomics: Learn the Basics of the Theory and Its Application</a></h1>
        <div class="meta" style="margin: 0px; padding: 0px;"><br></div>
    </div>
</div>
<div class="entry" style=" display:@show!important; margin: 0px 20px; padding: 0px; clear: left; line-height: 1.5; overflow: hidden; float: none; display: block; width: auto; color: rgb(102, 102, 102);  font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
    <p style="margin: 0px 0px 14px; padding: 0px;">By Elliott Prechter</p>
    <p style="margin: 0px 0px 14px; padding: 0px;"><strong style="margin: 0px; padding: 0px; font-style: normal; font-weight: bold;"><span class="subtitle" style="margin: 0px; padding: 0px;">Imagine a modern, ground-breaking theory, which could link all human social behavior &mdash; cultural, economic, political, and more &mdash; into a single, elegant and unifying framework</span></strong></p>
    <p style="margin: 0px 0px 14px; padding: 0px;">Have you ever noticed how economists, politicians, and business leaders consistently fail to foresee major turning points in history? With all of today&rsquo;s science and technology, why are we still unable to anticipate wars, economic depressions, financial bubbles and even fashion trends?</p>
    <p style="margin: 0px 0px 14px; padding: 0px;">Conventional models for forecasting economic and social trends simply do not work because they rely on a fatally flawed assumption about how people behave. Unfortunately, &ldquo;fatal assumptions&rdquo; are common throughout scientific history, and they often languish for far too long. New ideas can blossom only after wrong assumptions are discarded. When evidence refutes long-held assumptions, truth has a chance. A new theory emerges, and the old theory&rsquo;s plethora of special cases and exceptions fade away. A proper perspective enhances our ability to predict and prepare for the future.</p>
    <p style="margin: 0px 0px 14px; padding: 0px;">The fatal flaw that economics and broader social science fields rely upon is&nbsp;<i style="margin: 0px; padding: 0px;">external causality</i>, or the notion that major events are the primary influence and shaper of history. This model is just as attractive &ndash;and just as mistaken &mdash; as the notion of the four elements, the four humors or a geocentric universe. Yet even in the face of contrary evidence, people find it hard to divest themselves of deeply ingrained notions.</p>
    <p style="margin: 0px 0px 14px; padding: 0px;">Now imagine a modern, ground-breaking theory, which could link all human social behavior &mdash; cultural, economic, political, and more &mdash; into a single, elegant and unifying framework. Well, such a framework is here, and it&rsquo;s called socionomics.</p>
    <p style="margin: 0px 0px 14px; padding: 0px;">Socionomics succeeds by turning the assumption of external causality on its head, and it instead recognizes internal causality. People in groups share an unconscious collective disposition that is endogenously regulated. This shared social mood steers the actions that groups take and therefore the events that unfold across time to create history. In other words, psychology precedes actions, not vice-versa. Furthermore, social mood&rsquo;s fluctuations are patterned, which makes it possible to forecast the type and character of social and economic events.&nbsp;Socionomic causality is the engine of history.</p>
    <p style="margin: 0px 0px 14px; padding: 0px;">The power of socionomics is radical and unprecedented. Conventional social theory would have had you trapped in Germany when the Nazis took over; socionomics tells you when the political environment is likely to turn dangerously unstable. Conventional economics would have you lose everything in a major financial crash; socionomics tells you when and where to expect them. As research marches on, the evidence continues to mount in favor of the socionomic insight.</p>
    <p>For more information visit <a href="https://socionomics.net/learn-about-socionomics/" target="_blank">Socionomics Institute</a></p>
</div>

<div class="metadata" style='margin: 0px 0px 20px; padding: 0px 10px; background: url("images/back_postmeta.png") left top repeat-x rgb(255, 255, 255); border-radius: 7px; color: rgb(102, 102, 102); font-family: Arial, Helvetica, Tahoma, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;'>
    <div class="metainfo" style="margin: 0px; padding: 15px 0px 0px; overflow: hidden;">
        <h1 style="margin: 0px 0px 6px; padding: 0px; font-size: 24px; font-weight: normal; color: rgb(34, 34, 34); line-height: 28px; font-family: Georgia, serif;"><span class="oi oi-list" style="color: rgb(203, 14, 61);" aria-hidden="true"></span> <a @onclick="Show2" rel="bookmark" style="cursor: pointer;margin: 0px; padding: 0px; text-decoration: none; outline: none; color: rgb(203, 14, 61);" title="Permanent Link to What is Socionomics: Learn the Basics of the Theory and Its Application">A brief explanation of how the World Mood is calculated</a></h1>
        <div class="meta" style="margin: 0px; padding: 0px;"><br></div>
    </div>
</div>
<div class="entry" style=" display:@show2!important; margin: 0px 10px; padding: 0px; clear: left;  line-height: 1.5; overflow: hidden; float: none; display: block; width: auto; color: rgb(102, 102, 102); font-family: Arial, Helvetica, Tahoma, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
   <p style="">According to Socionomic Theory, the most useful and pure data about people's moods is found in Stock Charts.</p>
    <p style="">In this equation, we quantify social mood based on economic data.</p>
    <p style="">It is the human tendency to see things in a positive light most of the time. </p>
    <p style="">In the second part of the equation, we use stock market data from the past three months.</p>
    <p style="">Using the data, we can make a general assessment of the trends that are current in the world.</p>
    <p style="">I refer to this as the Integration Loop Theory since it recognizes an endogenous regulation of emotional states, independent of external factors.</p>
    <p style="">It is still in development, but the idea is to track mood changes quarterly and predict social trends.</p> 
    <p>Here are some useful videos to learn about socionomics: <a href="https://tinyurl.com/yag8expt" target="_blank">Socionomics links</a></p>    

</div>
*@
<hr />
@code {
    public decimal sum = 0;
    public decimal avg = 0;

    public string show = "none";
    public string show2 = "none";
    public int count = 0;
    static string shortdate = DateTime.Now.ToShortDateString();
    DateTime dateselectedfrom = DateTime.Parse(shortdate);


    protected override async Task OnInitializedAsync()
    {
        var sentimentCount = db.WorldSentimentDatas.Where(x => x.Date == dateselectedfrom).Count();
        if (sentimentCount == 0)
        {
            string url = "https://www.marketwatch.com/investing/index/spx";
            var response = CallUrl(url).Result;
            HtmlDocument htmlDoc = new HtmlDocument();
            htmlDoc.LoadHtml(response);
            var PriceNode = htmlDoc.DocumentNode.SelectNodes("//li[@class='content__item value ignore-color']");
            var value = PriceNode.Select(x => x.InnerText).ToList();
            foreach (var item in value)
            {
                count++;
                if (count == 3)
                {
                    var a = item.Remove(item.Length - 1, 1);

                    sum += Convert.ToDecimal(a);
                }
                if (count > 3) break;


            }
            avg = Math.Round((decimal)68.2 + sum);

            if (avg > 90)
            {
                avg = 90;
            }
            if (avg < 10)
            {
                avg = 10;
            }
            SaveDalySentiment();
        }
        else
        {
            var avgDB = db.WorldSentimentDatas.Where(x => x.Date == dateselectedfrom).Select(x=>x.SentimentScore).FirstOrDefault();
            avg = (decimal)avgDB;

        }
    }

    public void SaveDalySentiment()
    {

  
        var getSentiment = db.WorldSentimentDatas.Where(x => x.Date == dateselectedfrom).Count();

        if (getSentiment == 0)
        {
            WorldSentimentData item = new WorldSentimentData
                {
                    Id = Guid.NewGuid(),
                    Date = dateselectedfrom,
                    SentimentScore = (float)avg
                };

                db.WorldSentimentDatas.Add(item);
                db.SaveChanges();
        }

    
    }

    public void Show()
    {
        if (show == "initial")
        {
            show = "none";
        }
        else
        {
            show = "initial";
        }
        StateHasChanged();
    }
    public void Show2()
    {

        if (show2 == "initial")
        {
            show2 = "none";
        }
        else
        {
            show2 = "initial";
        }
        StateHasChanged();
    }

    private static Task<string> CallUrl(string fullUrl)
    {
        HttpClient client = new HttpClient();
        ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls13;
        client.DefaultRequestHeaders.Accept.Clear();
        var response = client.GetStringAsync(fullUrl);
        return response;
    }

    //private List<string> ParseHtml(string html)
    //{
    //    HtmlDocument htmlDoc = new HtmlDocument();
    //    htmlDoc.LoadHtml(html);
    //    var PriceNode = htmlDoc.DocumentNode.SelectNodes("//div[@class='YMlKec fxKbKc']");
    //    var programmerLinks = htmlDoc.DocumentNode.Descendants("li")
    //            .Where(node => !node.GetAttributeValue("class", "").Contains("tocsection")).ToList();

    //    List<string> wikiLink = new List<string>();

    //    //foreach (var link in programmerLinks)
    //    //{
    //    //    if (link.FirstChild.Attributes.Count > 0)
    //    //        wikiLink.Add("https://en.wikipedia.org/" + link.FirstChild.Attributes[0].Value);
    //    //}

    //    return wikiLink;

    //}
}

